@import './../const.scss';

.Home {
    height: 100vh;
    width: 100%;
    background-color: $bg-lighter;
    box-shadow: inset 0 0 100px #000;
}

.wrapper {
    position: absolute;
    display: block;
    height: 60vh;
    width: 60vh;
    left: calc(50vw - 30vh);
    top: calc(20vh);
    border-radius: 50%;
    background: $grad;
    box-shadow: inset 0 0 10px #000;
}

.profile-pic {
    height: 58vh;
    width: 58vh;
    margin-top: 1vh;
    margin-left: 1vh;
    border-radius: 50%;
}