@import './../const.scss';

.Home {
    height: 100vh;
    width: 100%;
    background-color: $bg-lighter;
    box-shadow: inset 0 0 100px #000;
}

.wrapper {
    position: absolute;
    display: block;
    border-radius: 50%;
    background: $grad;
    box-shadow: inset 0 0 10px #000;
    height: 60vw;
    width: 60vw;
    left: calc(20vw);
    top: calc(50vh - 30vw);
}

.profile-pic {
    height: 58vw;
    width: 58vw;
    margin-top: 1vw;
    margin-left: 1vw;  
    border-radius: 50%;
}

@media (orientation:landscape) {
    .wrapper {
        height: 60vh;
        width: 60vh;
        left: calc(50vw - 30vh);
        top: calc(20vh);
    }
    .profile-pic {
        height: 58vh;
        width: 58vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
}