@import './../const.scss';

.NavButton {
    display: inline-block;
    cursor: pointer;
    background: $grad;
    transition-duration: 300ms;
}

.outer {
    background-color: $bg-dark;
    padding: 0.5vw 1vw;
    transition-duration: 200ms;
}

.inner {
    display: inline-block;
    background: $grad;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100%;
    width: 100%;
    font-size: x-large;
}

.NavButton:hover {
    .outer {
        transform: translateY(-0.5vh);
    }
}

.NavButton:active {
    .outer {
        transform: translateY(-0.2vh);
    }
}